.list {
  margin: 20px;
}
.prhead {
  align-items: center;
  margin: 10px;
}

.prlist {
  align-items: center;
  margin: 10px;
}

.listitem {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}
.itemdesc {
  margin-left: 20px;
}
.pagination {
  margin: 20px;
}